<nav class="cyan">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Notes &amp Notes App</a>
    <ul id="nav-mobile" class="right hide-on-medium-and-down">
    <a href="/notes" title="notes page">Notes</a>
    </ul>
  </div>
</nav>
