<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="center">

        <h1 class='center cyan-text'>Notes &amp Notes App</h1>
        <br>
        <p class='center'>Welcome To Our Notes App</p>
        <br>
        <button class='btn btn-waves cyan' type='submit'>
        <a class='white-text' href="/notes" title="notes page">Notes</a>
        </button>
    </div>

    <footer class="page-footer cyan">
      <div class="footer-copyright">
      © 2016 Notes &amp Notes app
      </div>
  </footer>
  </body>
</html>
